<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="favicon.ico" />
  <link rel="bookmark" href="favicon.ico" />
  <link rel="stylesheet" href="index.css">

  <title>broser-sync-demo</title>
</head>

<body>

  <div class="page">
    <div class="page__header">

    </div>
    <div class="page__body">
      
      <h1>字体大小</h1>
      <section class="demo">
        <h1>h1 18px 用于titlebar标题文案字体大小</h1>
        <div class="h2">h2 16px 用于重点突出二级信息/城市选择</div>
        <h3>h3 14px 用于列表/表单/正文/Navbar等</h3>
        <div class="h4">h4 13px 用于车标题/导航下拉等字体大小</div>
        <h5>h5 12px 用于车信息辅助文字/订单id、时间 卡片状态/说明文案等</h5>
        <div class="h6">h6 10px 用于标签文字大小</div>
        <p>normal 14px 默认正文大小</p>
        <div class="demo__descripton">
          <p>h* 和 .h* 都会限定文字大小,而标签(h*)会根据设计加上margin 值 font-weight </p>
        </div>


      </section>
      <h2>文字颜色</h2>
      <section class="demo">
        <div class="font-color-wrap">
          <div style="background: #333">#333</div>
          <div style="background: #666">#666</div>
          <div style="background: #999">#999</div>
          <div style="background: #ccc">#ccc</div>
        </div>
        <div class="demo__descripton">
          <p>#333333 标题/输入内容/文本Navbar当前状态/重要信息文字/切换标签栏</p>
          <p>#666666 tab文字/文本/正文二级文本状态</p>
          <p>#999999 用户表单/正文三级文本/表单箭头颜色</p>
          <p>#cccccc 用户表单右侧输入/说明文字</p>
        </div>

      </section>

    </div>
    <div class="page__footer">

    </div>
  </div>

  <script src="index.js"></script>
</body>

</html>