@import '../../base';
.page {
  background: #f0f0fa;
  &__header {
  }
  &__body {
    background: #fff;
    padding: 12px;
  }
  &__footer {
  }

  &--type {
  }
}
.font-color-wrap {
  display: flex;
  justify-content: space-between;
  & > div {
    height: 90px;
    width: 90px;
    color: #fff;
  }
}
